.login-form{
  width: 75vw;
  margin: 50px; 
  color: #fff !important; ; 
  font-weight: bold;
  background-color: #405b75; 
  border-radius: 10px; 
  padding: 15px;  
  display: flex; 
  flex-direction: column;
  align-items: center; 
}
.form-label{
  font-size: 17px; 
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
}
