// ProductCard/components/productRemovable/index.scss
@use '../../../../styles/variable' as v;

.product-removable {
  margin-top: 16px;
  
  &__title {
    font-size: v.$text-base;
    font-weight: 600;
    color: v.$accent-red;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__item {
    padding: 12px;
    background: v.$primary-white;
    border-radius: v.$radius-md;
    margin-bottom: 8px;
    border: 1px solid v.$gray-border;
  }

  &__name {
    font-size: v.$text-sm;
    color: v.$gray-dark;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__divider {
    border: none;
    border-top: 1px solid v.$gray-border;
    margin: 8px 0;
  }
}