@use '../../../styles/variable' as v;

.product-list-page {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #f9f9f9 0%, #ffffff 100%);
  padding-top: 20px;
  
  @include v.respond-above('md') {
    padding-top: 30px;
  }
  
  &__content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}