@use '../../../styles/variable' as v;


// product-list-page.scss
.product-list-page {
  display: flex;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  min-height: 100vh;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding: 16px;

    @include v.respond-above('md') {
      flex-direction: row;
      gap: 24px;
      padding: 24px;
    }
  }
}